@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Heavy Italic'), local('Gilroy-Heavy-Italic'),
        url('Gilroy-HeavyItalic.woff2') format('woff2'),
        url('Gilroy-HeavyItalic.woff') format('woff'),
        url('Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }